.bg-light{
  background-color: rgb(23, 1, 58) !important;
  }

.card-registration{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}  


.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  background-color: rgb(23, 1, 58); 
  color: white;
}

button:hover{
  background-color: #c2a402 !important;
}